[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RMediation"]
	path = RMediation
	url = https://github.com/quantpsych/rmediation
